@{
    ViewBag.Title = "Home Page";
}

<h1>SignalR Demo!</h1>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/Scripts/knockout-3.5.0.js"></script>
    <script src="~/Scripts/PerfSurf.js"></script>
}
